body {
    margin: auto;
}

.container {
    text-align: center;
    margin-top: 33px;
}

h1 {
    text-align: center;
}

table {
    margin: auto;
}

.calculator {
    display: inline-block;
    background-color: cadetblue;
    padding: 15px;
}

input {
    font-size: 33px;
    border-radius: 21px;
    border: 5px solid black;
}

button {
    font-size: 33px;
    width: 101px;
    height: 58px;
    border-radius: 25px;
    background: #878a84;
}